.overflow-hidden {
  overflow: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.segure-width {
  width: 1200px;
}
.percentage-100-width {
  width: 100%;
}
.percentage-100-height {
  height: 100%;
}
.vw100 {
  width: 100vw;
}
.vh100 {
  height: 100vh;
}
.text-decoration-none {
  text-decoration: none;
  width: fit-content;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-h1 {
  font-family: "Roboto Mono", monospace;
  font-family: "Quicksand", sans-serif;
}
.font-roboto {
  font-family: "Roboto Mono", monospace;
}
.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-Kodchasan {
  font-family: 'Kodchasan', sans-serif;
}
.font-button-in {
  font-family: 'Kodchasan', sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.cursor-pointer {
  cursor: pointer;
}
.hover-scale {
  scale: 1;
  transition: all 0.3s;
}
.hover-scale:hover {
  scale: 1.05;
}
.transition-small {
  transition: all 0.3s;
}
.border-radius-big {
  border-radius: 16px;
  border: 0px;
}
.border-radius-mid {
  border-radius: 8px;
  border: 0px;
}
.gap-big {
  gap: 30px;
}
.none-styles-button {
  background-color: transparent;
  border: 0px;
}
@bg-blue :rgba (80,80,80,1);
.content-alert-standard {
  position: absolute;
  left: 0px;
  width: 100vw;
  top: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.content-alert-standard .bg-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.95);
}
.content-alert-standard .panel-info {
  width: 1000px;
  height: 650px;
  background-color: #8c8c8c;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
}
.content-alert-standard .panel-info .content-title {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-alert-standard .panel-info .content-title .title {
  color: #161616;
  font-weight: 400;
  font-size: 35px;
}
.content-alert-standard .panel-info .info {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
.content-alert-standard .panel-info .info .bottons-info {
  transition: all 0.3s;
}
.content-alert-standard .panel-info .info .bottons-info:hover {
  scale: 1.05;
}
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kodchasan/v17/1cX0aUPOAJv9sG4I-DJeR1CggQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kodchasan/v17/1cX0aUPOAJv9sG4I-DJeI1OggQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kodchasan/v17/1cXxaUPOAJv9sG4I-DJmjw.ttf) format('truetype');
}
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kodchasan/v17/1cX0aUPOAJv9sG4I-DJee1KggQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kodchasan/v17/1cX0aUPOAJv9sG4I-DJeV1WggQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kodchasan/v17/1cX0aUPOAJv9sG4I-DJeM1SggQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vuPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_XvqPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_gPqPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_7PqPQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_AP2PQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v23/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_Of2PQw.ttf) format('truetype');
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-family: "Quicksand", sans-serif;
  font-family: 'Kodchasan', sans-serif;
}
html {
  width: 100vw;
  height: 100vh;
  background-color: #c8c8c8;
}
body {
  width: 100vw;
  height: 100vh;
}
.content-home {
  background-color: yellow;
  flex-direction: column;
  justify-content: flex-start;
}
.content-home .principal-details-home {
  background-color: aqua;
  height: 100%;
}
.content-sing-in {
  flex-direction: column;
  justify-content: flex-start;
}
.content-sing-in .content-form {
  flex-direction: column;
  gap: 32px;
}
.content-sing-in .content-form .content-inputs {
  width: 90%;
  height: 85%;
}
.content-sing-in .content-form .content-inputs .content-section-input {
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 3%;
  gap: 10px;
}
.content-sing-in .content-form .content-inputs .content-section-input .input {
  width: 80%;
  height: auto;
  flex-direction: column;
  gap: 5px;
}
.content-sing-in .content-form .content-inputs .content-section-input .input .input-form {
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 30px;
}
.content-sing-in .title-x {
  font-weight: 300;
  font-size: 30px;
}
.add-gap-form {
  margin-top: 2%;
}
.content-navigation-menu {
  justify-content: space-between;
  height: 4vh;
}
.content-navigation-menu .content-image-navigation-menu {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-navigation-menu .content-items-navigation {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0%;
}
.content-navigation-menu .button-login {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.content-navigation-menu .button-login .title {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}
.content-navigation-menu-items {
  width: 23%;
  height: 100%;
}
.content-navigation-menu-items .title {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.content-principal-detail-home {
  background-color: violet;
  height: 100%;
  flex-direction: column;
}
.content-filter-type-button {
  height: 140px;
  width: 110px;
  overflow: hidden;
  border: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0.7;
}
.content-filter-type-button:hover {
  scale: 1.1;
  opacity: 1;
}
.content-filter-type-button .text {
  bottom: 5%;
}
.content-filter-type-button .bg-pokeball {
  top: -43%;
  left: -45%;
}
.content-button-trainer-in {
  padding: 16px 32px;
  border: 0px;
}
.content-button-trainer-in .text {
  font-weight: 300;
  font-size: 25px;
}
.content-icon-selectorType .icon {
  box-sizing: border-box;
}
.content-button-in {
  background-color: aqua;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 57px;
  width: 108px;
}
.content-button-in .triangule {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fff;
  /* Cambia el color según tus necesidades */
  transform: rotate(180deg);
}
.content-button-trainer .background {
  opacity: 0.9;
}
.content-button-trainer .image-trainer {
  left: -20%;
}
.content-button-trainer .name-trainer {
  width: 100%;
  bottom: 10%;
  text-align: end;
  padding-right: 5%;
  font-size: 20px;
}
