//? variables

//! basicClass

.segure-width{
  width: 1200px;
}

.percentage-100-width {
  width: 100%;
}
.percentage-100-height {
  height: 100%;
}

.vw100 {
  width: 100vw;
}
.vh100 {
  height: 100vh;
}

.text-decoration-none {
  text-decoration: none;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-h1 {
  font-family: "Roboto Mono", monospace;
  font-family: "Quicksand", sans-serif;
}

.font-roboto {
  font-family: "Roboto Mono", monospace;
}
.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

//! border-radius
.border-radius-big{
  border-radius: 16px;
}

//! color
@bg-blue:rgba (80,80,80,1);

//! color
