.content-sing-in {
  flex-direction: column;
  justify-content: flex-start;

  .content-form {
    //background-color: red;
    padding-top: 4%;
    display: flex;

    .section {
      padding-left: 4%;
      //background-color: aqua;
      .item-form {
        //background-color: greenyellow;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .title {
          font-size: 35px;
          font-weight: 300;
        }
        .input-form {
          color: inherit;
          margin: 0;
          border: none;
          padding: 0;
          background: none;
          font-size: 25px;
          font-weight: 500;
        }
        .line {
          height: 2px;
        }
      }
      .filter-type {
        display: flex;
        gap: 8%;
        //background-color: aqua;
        .title {
            font-size: 35px;
            font-weight: 300;
          }
        }
    }
  }
}
